.scrollbar::-webkit-scrollbar-track {
  background: #14141a; }

.scrollbar::-webkit-scrollbar {
  width: 28px;
  background: #14141a; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 10px solid #14141a;
  background: #7CCF91; }

.ph::-webkit-input-placeholder {
  color: rgba(124, 207, 145, 0.6); }

.ph::-moz-placeholder {
  color: rgba(124, 207, 145, 0.6); }

.ph:-ms-input-placeholder {
  color: rgba(124, 207, 145, 0.6); }

.ph:-moz-placeholder {
  color: rgba(124, 207, 145, 0.6); }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; } }

@-webkit-keyframes blinker {
  15% {
    opacity: 1; }
  20% {
    opacity: .9; }
  25% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: .9; }
  65% {
    opacity: 1; } }

@keyframes blinker {
  15% {
    opacity: 1; }
  20% {
    opacity: .9; }
  25% {
    opacity: 1; }
  60% {
    opacity: 1; }
  65% {
    opacity: .9; }
  65% {
    opacity: 1; } }

@-webkit-keyframes wiggleBox {
  20% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); } }

@keyframes wiggleBox {
  20% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  40% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px); }
  80% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px); } }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 40px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btn {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #7CCF91;
  color: #f2f2f2;
  border-radius: 5px;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  background: #7CCF91;
  color: #f2f2f2;
  text-align: center; }

.link {
  color: #7CCF91;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hdiv {
  width: 100%;
  height: 1px;
  background: #7CCF91;
  margin: 20px 0; }

.text {
  width: 100%;
  min-width: 280px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 25px;
  background: transparent;
  border: 2px solid #7CCF91; }

.flat {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16); }

.light {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.dark {
  -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

.cursor-p {
  cursor: url("../assets/img/cursor-pointer.png"), pointer; }

.cursor-na {
  cursor: url("../assets/img/cursor-notallowed.png"), not-allowed; }

.cursor-t {
  cursor: url("../assets/img/cursor-text.png"), text; }

.swiper-container {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important; }

.swiper-slide {
  width: 100vw !important;
  height: 92vh !important; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100%;
  margin: 0 !important;
  background: transparent;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f0c9'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f0e6'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f00c'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #7CCF91 !important; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #7CCF91;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'pixel'; }

html {
  background: url("../assets/img/background.gif");
  background-size: cover; }

html, body, main {
  width: 100vw;
  overflow: hidden;
  cursor: url("../assets/img/cursor-default.png"), auto; }

a {
  color: #7CCF91;
  text-decoration: none; }

pre {
  min-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  margin: 40px 0; }

input {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.shine {
  -webkit-box-shadow: 0 0 10px 0 rgba(124, 207, 145, 0.9);
  box-shadow: 0 0 10px 0 rgba(124, 207, 145, 0.9); }

.text-shine {
  text-shadow: 0px 0px 8px #7CCF91; }

.login-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  -webkit-animation: blinker .5s linear infinite;
  animation: blinker .5s linear infinite; }
  .login-box .row {
    margin: -70px 0 5px 0;
    width: 400px; }
  .login-box .left-bar {
    height: 30px;
    width: 30px;
    border: 4px solid #7CCF91;
    margin-right: 5px; }
  .login-box .center-bar {
    background: #7CCF91;
    height: 30px;
    width: calc(100% - 35px);
    line-height: 30px;
    text-align: center;
    padding-right: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #1D1D26;
    text-shadow: 1px 1px 6px #b6fdb6, 0 0 0 #1D1D26, 1px 1px 6px #b6fdb6; }
  .login-box .box {
    width: 400px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 4px solid #7CCF91;
    border-radius: 0; }
  .login-box .ph {
    margin-bottom: 20px; }
  .login-box input {
    margin: 10px 0;
    font-size: 14px;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto; }
  .login-box img {
    position: fixed;
    bottom: 40px;
    height: 70px; }
  .login-box .wiggle {
    -webkit-animation: wiggleBox .3s;
    animation: wiggleBox .3s; }

.guest-box {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: blinker .1s linear infinite;
  animation: blinker .1s linear infinite; }
  .guest-box .guest-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-animation: blinker .5s linear infinite;
    animation: blinker .5s linear infinite; }
    .guest-box .guest-bar * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .guest-box .guest-bar .drop-down-btn {
      width: 30px;
      text-align: center;
      border: 4px solid #7CCF91;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .guest-box .guest-bar .drop-down-btn:hover {
        background: #7CCF91; }
        .guest-box .guest-bar .drop-down-btn:hover i {
          color: #1D1D26; }
    .guest-box .guest-bar .drop-down-box {
      position: fixed;
      top: 40px;
      left: 10px;
      width: 250px;
      display: none;
      border: 4px solid #7CCF91;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .guest-box .guest-bar .drop-down-active {
      top: 50px;
      display: block;
      opacity: 1; }
    .guest-box .guest-bar .btn {
      background: #1D1D26;
      border-radius: 0;
      color: #7CCF91;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-align: left;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .guest-box .guest-bar .btn:hover {
        background: #7CCF91;
        color: #1D1D26; }
    .guest-box .guest-bar .bar {
      width: 100%;
      background: #7CCF91;
      margin-left: 5px; }
      .guest-box .guest-bar .bar p {
        color: #1D1D26;
        line-height: 30px;
        margin-left: 10px; }
  .guest-box .guest-desktop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background: url("../assets/img/logo-bg.svg") no-repeat center;
    background-size: 25%;
    background-blend-mode: darken;
    z-index: 1; }
    .guest-box .guest-desktop .row {
      position: fixed;
      bottom: 40px;
      left: 40px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .guest-box .guest-desktop .row .wrapper {
        height: 80px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
        -webkit-animation: blinker .5s linear infinite;
        animation: blinker .5s linear infinite; }
        .guest-box .guest-desktop .row .wrapper img {
          height: 60px;
          margin-bottom: 10px; }
  .guest-box .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1); }
    .guest-box .modal .row-modal {
      width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
    .guest-box .modal .left-bar {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-right: 5px;
      background: #1D1D26; }
    .guest-box .modal .center-bar {
      background: #7CCF91;
      height: 30px;
      width: calc(100% - 70px);
      line-height: 30px;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #1D1D26;
      text-shadow: 1px 1px 6px #b6fdb6, 0 0 0 #1D1D26, 1px 1px 6px #b6fdb6; }
    .guest-box .modal .btn-close-terminal, .guest-box .modal .btn-close-documents, .guest-box .modal .btn-close-readme, .guest-box .modal .btn-close-video {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-left: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #1D1D26; }
      .guest-box .modal .btn-close-terminal img, .guest-box .modal .btn-close-documents img, .guest-box .modal .btn-close-readme img, .guest-box .modal .btn-close-video img {
        width: 60%;
        height: 60%; }
    .guest-box .modal .box {
      width: 500px;
      height: 300px;
      background: #14141a;
      border: 4px solid #7CCF91;
      border-radius: 0;
      overflow-y: scroll; }
      .guest-box .modal .box .title {
        font-size: 20px; }
      .guest-box .modal .box .subtitle {
        font-size: 14px;
        line-height: 20px; }
  .guest-box .guest-terminal {
    left: 30%; }
    .guest-box .guest-terminal .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .guest-box .guest-terminal .alert-ic {
      width: 70px;
      height: 70px;
      margin-right: 10px; }
  .guest-box .guest-readme {
    top: 80px;
    left: 35%; }
    .guest-box .guest-readme .btn-watch-video {
      width: 150px;
      padding: 10px;
      margin: 40px 0;
      background: rgba(124, 207, 145, 0.2);
      border: 2px solid #7CCF91;
      text-align: center; }
      .guest-box .guest-readme .btn-watch-video:hover {
        background: rgba(124, 207, 145, 0.8);
        color: #1D1D26; }
    .guest-box .guest-readme span {
      background: #7CCF91;
      color: #1D1D26;
      padding: 10px; }
  .guest-box .guest-documents {
    top: 170px;
    left: 40%;
    width: 500px;
    height: 350px; }
    .guest-box .guest-documents .row-modal {
      width: 100%; }
    .guest-box .guest-documents .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .guest-box .guest-documents .wrapper {
      width: 80px;
      height: 80px;
      text-align: center;
      font-size: 14px;
      margin-right: 20px;
      -webkit-animation: blinker .5s linear infinite;
      animation: blinker .5s linear infinite; }
      .guest-box .guest-documents .wrapper img {
        height: 60px;
        margin-bottom: 10px; }
  .guest-box .ficha {
    width: 650px;
    height: 425px;
    bottom: 10%;
    right: 35%; }
    .guest-box .ficha .row-modal {
      width: 100%; }
    .guest-box .ficha .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .guest-box .ficha .box img {
        height: 300px;
        margin-right: 20px; }
      .guest-box .ficha .box .title {
        margin-top: 10px;
        line-height: 30px; }
        .guest-box .ficha .box .title:last-of-type {
          margin: 0 0 20px 0; }
          .guest-box .ficha .box .title:last-of-type span {
            font-size: 14px;
            background: #7CCF91;
            padding: 5px 10px;
            color: #1D1D26;
            margin-bottom: 15px; }
      .guest-box .ficha .box .subtitle {
        margin-top: 5px;
        line-height: 30px; }
  .guest-box .guest-video {
    width: 810px;
    height: 500px;
    padding: 0; }
    .guest-box .guest-video .row-modal {
      width: 100%; }
    .guest-box .guest-video .box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0; }
    .guest-box .guest-video video {
      background: url("../../../assets/img/play-poster.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .guest-box .guest-video #video-box {
      width: 100%;
      height: 100%; }
  .guest-box .guest-print .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden !important; }
    .guest-box .guest-print .box p {
      margin: 20px 0; }
  .guest-box .guest-print .progress-wrapper {
    width: 400px;
    height: 25px;
    border: 2px solid #7CCF91;
    overflow: hidden; }
  .guest-box .guest-print .progress-bar {
    width: 400px;
    height: 100%;
    background: #7CCF91;
    -webkit-animation: complete 5s;
    animation: complete 5s; }

@-webkit-keyframes complete {
  from {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes complete {
  from {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
  .guest-box .hidden-info {
    display: none; }
  .guest-box .modal-hide {
    display: none; }

.security-box {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: blinker .1s linear infinite;
  animation: blinker .1s linear infinite; }
  .security-box .security-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-animation: blinker .5s linear infinite;
    animation: blinker .5s linear infinite; }
    .security-box .security-bar * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .security-box .security-bar .drop-down-btn {
      width: 30px;
      text-align: center;
      border: 4px solid #7CCF91;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .security-box .security-bar .drop-down-btn:hover {
        background: #7CCF91; }
        .security-box .security-bar .drop-down-btn:hover i {
          color: #1D1D26; }
    .security-box .security-bar .drop-down-box {
      position: fixed;
      top: 40px;
      left: 10px;
      width: 250px;
      display: none;
      border: 4px solid #7CCF91;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .security-box .security-bar .drop-down-active {
      top: 50px;
      display: block;
      opacity: 1; }
    .security-box .security-bar .btn {
      background: #1D1D26;
      border-radius: 0;
      color: #7CCF91;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-align: left;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .security-box .security-bar .btn:hover {
        background: #7CCF91;
        color: #1D1D26; }
    .security-box .security-bar .bar {
      width: 100%;
      background: #7CCF91;
      margin-left: 5px; }
      .security-box .security-bar .bar p {
        color: #1D1D26;
        line-height: 30px;
        margin-left: 10px; }
  .security-box .security-desktop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background: url("../assets/img/logo-bg.svg") no-repeat center;
    background-size: 25%;
    background-blend-mode: darken;
    z-index: 1; }
    .security-box .security-desktop .row {
      position: fixed;
      bottom: 40px;
      left: 40px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .security-box .security-desktop .row .wrapper {
        height: 80px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
        -webkit-animation: blinker .5s linear infinite;
        animation: blinker .5s linear infinite; }
        .security-box .security-desktop .row .wrapper img {
          height: 60px;
          margin-bottom: 10px; }
  .security-box .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1); }
    .security-box .modal .row-modal {
      width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
    .security-box .modal .left-bar {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-right: 5px;
      background: #1D1D26; }
    .security-box .modal .center-bar {
      background: #7CCF91;
      height: 30px;
      width: calc(100% - 70px);
      line-height: 30px;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #1D1D26;
      text-shadow: 1px 1px 6px #b6fdb6, 0 0 0 #1D1D26, 1px 1px 6px #b6fdb6; }
    .security-box .modal .btn-close-terminal, .security-box .modal .btn-close-documents, .security-box .modal .btn-close-readme, .security-box .modal .btn-close-video {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-left: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #1D1D26; }
      .security-box .modal .btn-close-terminal img, .security-box .modal .btn-close-documents img, .security-box .modal .btn-close-readme img, .security-box .modal .btn-close-video img {
        width: 60%;
        height: 60%; }
    .security-box .modal .box {
      width: 500px;
      height: 300px;
      background: #14141a;
      border: 4px solid #7CCF91;
      border-radius: 0;
      overflow-y: scroll; }
      .security-box .modal .box .title {
        font-size: 20px; }
      .security-box .modal .box .subtitle {
        font-size: 14px;
        line-height: 20px; }
  .security-box .security-terminal {
    left: 30%; }
    .security-box .security-terminal .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: horizontal;
      flex-direction: horizontal;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .security-box .security-terminal .alert-ic {
      width: 70px;
      height: 70px;
      margin-right: 10px; }
  .security-box .security-calendar {
    top: 80px;
    right: 25%; }
    .security-box .security-calendar .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      line-height: 1.4; }
    .security-box .security-calendar h1 {
      margin-bottom: 20px; }
    .security-box .security-calendar h5 {
      margin-bottom: 5px; }
  .security-box .security-documents {
    top: 170px;
    left: 40%;
    width: 500px;
    height: 350px; }
    .security-box .security-documents .row-modal {
      width: 100%; }
    .security-box .security-documents .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .security-box .security-documents .wrapper {
      width: 80px;
      height: 80px;
      text-align: center;
      font-size: 14px;
      margin-right: 20px;
      -webkit-animation: blinker .5s linear infinite;
      animation: blinker .5s linear infinite; }
      .security-box .security-documents .wrapper img {
        height: 60px;
        margin-bottom: 10px; }
  .security-box .ficha {
    width: 650px;
    height: 425px;
    bottom: 10%;
    right: 35%; }
    .security-box .ficha .row-modal {
      width: 100%; }
    .security-box .ficha .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .security-box .ficha .box img {
        height: 300px;
        margin-right: 20px; }
      .security-box .ficha .box .title {
        margin-top: 10px;
        line-height: 30px; }
        .security-box .ficha .box .title:last-of-type {
          margin: 0 0 20px 0; }
          .security-box .ficha .box .title:last-of-type span {
            font-size: 14px;
            background: #7CCF91;
            padding: 5px 10px;
            color: #1D1D26;
            margin-bottom: 15px; }
      .security-box .ficha .box .subtitle {
        margin-top: 5px;
        line-height: 30px; }
  .security-box .security-video {
    width: 850px;
    height: 525px;
    padding: 0; }
    .security-box .security-video .row-modal {
      width: 100%; }
    .security-box .security-video .box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0; }
    .security-box .security-video video {
      background: url("../../../assets/img/play-poster.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .security-box .security-video #video-box {
      width: 100%;
      height: 100%; }
  .security-box .security-window {
    width: 700px;
    height: 400px;
    margin: 60px 20px auto auto; }
    .security-box .security-window .row-modal {
      width: 100%; }
    .security-box .security-window .box {
      width: 100%;
      height: 100%;
      overflow: hidden !important;
      padding: 0; }
    .security-box .security-window video {
      width: 100%;
      height: 100%; }
  .security-box .security-shared .wrapper {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    -webkit-animation: blinker .5s linear infinite;
    animation: blinker .5s linear infinite; }
    .security-box .security-shared .wrapper img {
      height: 60px;
      margin-right: 10px; }
  .security-box .security-shared p {
    margin-bottom: 5px; }
  .security-box .security-shared .sub {
    font-size: 10px; }
  .security-box .security-songs {
    left: 25%;
    width: 550px;
    height: 600px; }
    .security-box .security-songs .row-modal {
      width: 100%; }
    .security-box .security-songs .box {
      width: 100%;
      height: 100%;
      font-size: 14px;
      line-height: 1.4; }
  .security-box .hidden-info {
    display: none; }
  .security-box .modal-hide {
    display: none; }

.vice-box {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: blinker .1s linear infinite;
  animation: blinker .1s linear infinite; }
  .vice-box .vice-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-animation: blinker .5s linear infinite;
    animation: blinker .5s linear infinite; }
    .vice-box .vice-bar * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .vice-box .vice-bar .drop-down-btn {
      width: 30px;
      text-align: center;
      border: 4px solid #7CCF91;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .vice-box .vice-bar .drop-down-btn:hover {
        background: #7CCF91; }
        .vice-box .vice-bar .drop-down-btn:hover i {
          color: #1D1D26; }
    .vice-box .vice-bar .drop-down-box {
      position: fixed;
      top: 40px;
      left: 10px;
      width: 250px;
      display: none;
      border: 4px solid #7CCF91;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .vice-box .vice-bar .drop-down-active {
      top: 50px;
      display: block;
      opacity: 1; }
    .vice-box .vice-bar .btn {
      background: #1D1D26;
      border-radius: 0;
      color: #7CCF91;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-align: left;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .vice-box .vice-bar .btn:hover {
        background: #7CCF91;
        color: #1D1D26; }
    .vice-box .vice-bar .bar {
      width: 100%;
      background: #7CCF91;
      margin-left: 5px; }
      .vice-box .vice-bar .bar p {
        color: #1D1D26;
        line-height: 30px;
        margin-left: 10px; }
  .vice-box .vice-desktop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background: url("../assets/img/tabla.png") no-repeat center;
    background-size: 60%;
    background-blend-mode: darken;
    z-index: 1; }
    .vice-box .vice-desktop .row {
      position: fixed;
      bottom: 40px;
      left: 40px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .vice-box .vice-desktop .row .wrapper {
        height: 80px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
        -webkit-animation: blinker .5s linear infinite;
        animation: blinker .5s linear infinite; }
        .vice-box .vice-desktop .row .wrapper img {
          height: 60px;
          margin-bottom: 10px; }
  .vice-box .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1); }
    .vice-box .modal .row-modal {
      width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
    .vice-box .modal .left-bar {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-right: 5px;
      background: #1D1D26; }
    .vice-box .modal .center-bar {
      background: #7CCF91;
      height: 30px;
      width: calc(100% - 70px);
      line-height: 30px;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #1D1D26;
      text-shadow: 1px 1px 6px #b6fdb6, 0 0 0 #1D1D26, 1px 1px 6px #b6fdb6; }
    .vice-box .modal .btn-close-terminal, .vice-box .modal .btn-close-documents, .vice-box .modal .btn-close-readme, .vice-box .modal .btn-close-video {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-left: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #1D1D26; }
      .vice-box .modal .btn-close-terminal img, .vice-box .modal .btn-close-documents img, .vice-box .modal .btn-close-readme img, .vice-box .modal .btn-close-video img {
        width: 60%;
        height: 60%; }
    .vice-box .modal .box {
      width: 500px;
      height: 300px;
      background: #14141a;
      border: 4px solid #7CCF91;
      border-radius: 0;
      overflow-y: scroll; }
      .vice-box .modal .box .title {
        font-size: 20px; }
      .vice-box .modal .box .subtitle {
        font-size: 14px;
        line-height: 20px; }
  .vice-box .vice-shared .wrapper {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    -webkit-animation: blinker .5s linear infinite;
    animation: blinker .5s linear infinite; }
    .vice-box .vice-shared .wrapper img {
      height: 60px;
      margin-right: 10px; }
  .vice-box .vice-shared p {
    margin-bottom: 5px; }
  .vice-box .vice-shared .sub {
    font-size: 10px; }
  .vice-box .vice-songs {
    left: 25%;
    width: 550px;
    height: 600px; }
    .vice-box .vice-songs .row-modal {
      width: 100%; }
    .vice-box .vice-songs .box {
      width: 100%;
      height: 100%;
      font-size: 14px;
      line-height: 1.4; }
  .vice-box .vice-terminal {
    left: 30%; }
    .vice-box .vice-terminal .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: horizontal;
      flex-direction: horizontal;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .vice-box .vice-terminal .alert-ic {
      width: 70px;
      height: 70px;
      margin-right: 10px; }
  .vice-box .vice-calendar {
    top: 80px;
    right: 25%; }
    .vice-box .vice-calendar .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      line-height: 1.4; }
    .vice-box .vice-calendar h1 {
      margin-bottom: 20px; }
    .vice-box .vice-calendar h5 {
      margin-bottom: 5px; }
  .vice-box .vice-documents {
    top: 170px;
    left: 40%;
    width: 500px;
    height: 350px; }
    .vice-box .vice-documents .row-modal {
      width: 100%; }
    .vice-box .vice-documents .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .vice-box .vice-documents .wrapper {
      width: 80px;
      height: 80px;
      text-align: center;
      font-size: 14px;
      margin-right: 20px;
      -webkit-animation: blinker .5s linear infinite;
      animation: blinker .5s linear infinite; }
      .vice-box .vice-documents .wrapper img {
        height: 60px;
        margin-bottom: 10px; }
  .vice-box .ficha {
    width: 650px;
    height: 425px;
    bottom: 10%;
    right: 35%; }
    .vice-box .ficha .row-modal {
      width: 100%; }
    .vice-box .ficha .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .vice-box .ficha .box img {
        height: 300px;
        margin-right: 20px; }
      .vice-box .ficha .box .title {
        margin-top: 10px;
        line-height: 30px; }
        .vice-box .ficha .box .title:last-of-type {
          margin: 0 0 20px 0; }
          .vice-box .ficha .box .title:last-of-type span {
            font-size: 14px;
            background: #7CCF91;
            padding: 5px 10px;
            color: #1D1D26;
            margin-bottom: 15px; }
      .vice-box .ficha .box .subtitle {
        margin-top: 5px;
        line-height: 30px; }
  .vice-box .vice-video {
    width: 850px;
    height: 525px;
    padding: 0; }
    .vice-box .vice-video .row-modal {
      width: 100%; }
    .vice-box .vice-video .box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0; }
    .vice-box .vice-video video {
      background: url("../../../assets/img/play-poster.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    .vice-box .vice-video #video-box {
      width: 100%;
      height: 100%; }
  .vice-box .vice-window {
    width: 700px;
    height: 400px;
    margin: 60px 20px auto auto; }
    .vice-box .vice-window .row-modal {
      width: 100%; }
    .vice-box .vice-window .box {
      width: 100%;
      height: 100%;
      overflow: hidden !important;
      padding: 0; }
    .vice-box .vice-window video {
      width: 100%;
      height: 100%; }
  .vice-box .vice-mail {
    left: 25%;
    width: 900px;
    height: 550px; }
    .vice-box .vice-mail .row-modal {
      width: 100%; }
    .vice-box .vice-mail .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px;
      line-height: 1.4;
      padding: 0; }
    .vice-box .vice-mail .left-mail {
      width: 250px;
      height: 100%;
      padding: 20px;
      border-right: 4px solid #7CCF91; }
      .vice-box .vice-mail .left-mail h6 {
        background: #7CCF91;
        padding: 10px;
        text-align: center;
        color: #1D1D26;
        margin-bottom: 40px; }
      .vice-box .vice-mail .left-mail h3 {
        margin-bottom: 10px; }
      .vice-box .vice-mail .left-mail .lil-mail {
        border: 2px solid #7CCF91;
        padding: 10px; }
      .vice-box .vice-mail .left-mail p {
        font-size: 9px; }
    .vice-box .vice-mail .right-mail {
      width: calc(100% - 250px);
      height: 100%;
      padding: 40px; }
      .vice-box .vice-mail .right-mail .mail-inbox,
      .vice-box .vice-mail .right-mail .mail-send {
        -webkit-animation: none;
        animation: none; }
        .vice-box .vice-mail .right-mail .mail-inbox h6,
        .vice-box .vice-mail .right-mail .mail-send h6 {
          margin-bottom: 5px; }
      .vice-box .vice-mail .right-mail .col {
        margin-bottom: 20px; }
  .vice-box .hidden-info {
    display: none; }
  .vice-box .modal-hide {
    display: none; }

.presi-box {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: blinker .1s linear infinite;
  animation: blinker .1s linear infinite; }
  .presi-box .presi-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 99;
    -webkit-animation: blinker .5s linear infinite;
    animation: blinker .5s linear infinite; }
    .presi-box .presi-bar * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .presi-box .presi-bar .drop-down-btn {
      width: 30px;
      text-align: center;
      border: 4px solid #7CCF91;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .presi-box .presi-bar .drop-down-btn:hover {
        background: #7CCF91; }
        .presi-box .presi-bar .drop-down-btn:hover i {
          color: #1D1D26; }
    .presi-box .presi-bar .drop-down-box {
      position: fixed;
      top: 40px;
      left: 10px;
      width: 250px;
      display: none;
      border: 4px solid #7CCF91;
      opacity: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .presi-box .presi-bar .drop-down-active {
      top: 50px;
      display: block;
      opacity: 1; }
    .presi-box .presi-bar .btn {
      background: #1D1D26;
      border-radius: 0;
      color: #7CCF91;
      -webkit-box-shadow: none;
      box-shadow: none;
      text-align: left;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .presi-box .presi-bar .btn:hover {
        background: #7CCF91;
        color: #1D1D26; }
    .presi-box .presi-bar .bar {
      width: 100%;
      background: #7CCF91;
      margin-left: 5px; }
      .presi-box .presi-bar .bar p {
        color: #1D1D26;
        line-height: 30px;
        margin-left: 10px; }
  .presi-box .presi-desktop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background: url("../assets/img/tabla.png") no-repeat center;
    background-size: 60%;
    background-blend-mode: darken;
    z-index: 1; }
    .presi-box .presi-desktop .row {
      position: fixed;
      bottom: 40px;
      left: 40px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .presi-box .presi-desktop .row .wrapper {
        height: 80px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
        -webkit-animation: blinker .5s linear infinite;
        animation: blinker .5s linear infinite; }
        .presi-box .presi-desktop .row .wrapper img {
          height: 60px;
          margin-bottom: 10px; }
  .presi-box .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.22), 0 0 10px 10px rgba(0, 0, 0, 0.1); }
    .presi-box .modal .row-modal {
      width: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
    .presi-box .modal .left-bar {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-right: 5px;
      background: #1D1D26; }
    .presi-box .modal .center-bar {
      background: #7CCF91;
      height: 30px;
      width: calc(100% - 70px);
      line-height: 30px;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #1D1D26;
      text-shadow: 1px 1px 6px #b6fdb6, 0 0 0 #1D1D26, 1px 1px 6px #b6fdb6; }
    .presi-box .modal .btn-close-terminal, .presi-box .modal .btn-close-documents, .presi-box .modal .btn-close-readme, .presi-box .modal .btn-close-video {
      height: 30px;
      width: 30px;
      border: 4px solid #7CCF91;
      margin-left: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #1D1D26; }
      .presi-box .modal .btn-close-terminal img, .presi-box .modal .btn-close-documents img, .presi-box .modal .btn-close-readme img, .presi-box .modal .btn-close-video img {
        width: 60%;
        height: 60%; }
    .presi-box .modal .box {
      width: 500px;
      height: 300px;
      background: #14141a;
      border: 4px solid #7CCF91;
      border-radius: 0;
      overflow-y: scroll; }
      .presi-box .modal .box .title {
        font-size: 20px; }
      .presi-box .modal .box .subtitle {
        font-size: 14px;
        line-height: 20px; }
  .presi-box .presi-bomb {
    right: 45%;
    bottom: 5%;
    width: 600px;
    height: 400px; }
    .presi-box .presi-bomb .row-modal {
      width: 100%; }
    .presi-box .presi-bomb .center-bar {
      width: calc(100% - 35px); }
    .presi-box .presi-bomb .box {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .presi-box .presi-bomb .box p {
        font-size: 12px; }
    .presi-box .presi-bomb .levels {
      width: 100%;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .presi-box .presi-bomb .bar-wrapper {
      width: 50px;
      height: 150px;
      border: 2px solid #7CCF91;
      margin-bottom: 10px;
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .presi-box .presi-bomb .bar {
      width: 100%;
      background: #7CCF91; }
    .presi-box .presi-bomb #H_level {
      height: 70%; }
    .presi-box .presi-bomb #F_level {
      height: 30%; }
    .presi-box .presi-bomb #B_level {
      height: 50%; }
    .presi-box .presi-bomb #Be_level {
      height: 10%; }
    .presi-box .presi-bomb h4 {
      width: 50px;
      text-align: center; }
  .presi-box .presi-terminal {
    left: 30%; }
    .presi-box .presi-terminal .box {
      overflow: hidden;
      width: 100%;
      background: #000; }
  .presi-box .presi-countdown {
    width: 900px;
    height: 500px;
    text-align: center; }
    .presi-box .presi-countdown .box {
      width: 100%;
      height: 100%;
      overflow: hidden !important; }
    .presi-box .presi-countdown h5 {
      margin-top: 10px; }
    .presi-box .presi-countdown #timer {
      width: 100%;
      height: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-weight: 600;
      font-size: 150px;
      letter-spacing: 20px;
      color: tomato; }
  .presi-box .presi-mail {
    left: 25%;
    width: 900px;
    height: 550px;
    z-index: 99; }
    .presi-box .presi-mail .row-modal {
      width: 100%; }
    .presi-box .presi-mail .box {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px;
      line-height: 1.4;
      padding: 0; }
    .presi-box .presi-mail .left-mail {
      width: 250px;
      height: 100%;
      padding: 20px;
      border-right: 4px solid #7CCF91; }
      .presi-box .presi-mail .left-mail h6 {
        background: #7CCF91;
        padding: 10px;
        text-align: center;
        color: #1D1D26;
        margin-bottom: 40px; }
      .presi-box .presi-mail .left-mail h3 {
        margin-bottom: 10px; }
      .presi-box .presi-mail .left-mail .lil-mail {
        border: 2px solid #7CCF91;
        padding: 10px; }
      .presi-box .presi-mail .left-mail p {
        font-size: 9px; }
    .presi-box .presi-mail .right-mail {
      width: calc(100% - 250px);
      height: 100%;
      padding: 40px; }
      .presi-box .presi-mail .right-mail .mail-inbox,
      .presi-box .presi-mail .right-mail .mail-send {
        -webkit-animation: none;
        animation: none; }
        .presi-box .presi-mail .right-mail .mail-inbox h6,
        .presi-box .presi-mail .right-mail .mail-send h6 {
          margin-bottom: 5px; }
      .presi-box .presi-mail .right-mail .col {
        margin-bottom: 20px; }
  .presi-box .terminal-output .error {
    opacity: 0;
    display: inline; }
    .presi-box .terminal-output .error:before {
      content: 'Element neutralized';
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      color: tomato; }
  .presi-box .hidden-info {
    display: none; }
  .presi-box .modal-hide {
    display: none; }
