
//enter view
.ng-enter {
    animation: fadeIn both .3s;

    //overlay fix
    animation-delay: .3s;
}

//leave view
.ng-leave {
    animation: fadeOut both .3s;
}

//animations
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes scaleIn {
    from {transform: scale(0,0); opacity: 0}
    to {transform: scale(1,1); opacity: 1}
}
@keyframes scaleOut {
    from {transform: scale(1,1); opacity: 1}
    to {transform: scale(0,0); opacity: 0}
}

@keyframes fromTop {
    from {transform: translateY(-100vh); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}
@keyframes fromLeft {
    from {transform: translateX(-100vw); opacity: 0}
    to {transform: translateX(0); opacity: 1}
}
@keyframes fromRight {
    from {transform: translateX(100vw); opacity: 0}
    to {transform: translateX(0); opacity: 1}
}
@keyframes fromBot {
    from {transform: translateY(100vh); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}

@keyframes toTop {
    from {transform: translateY(0); opacity: 1}
    to {transform: translateY(-100vh); opacity: 0}
}
@keyframes toLeft {
    from {transform: translateX(0); opacity: 1}
    to {transform: translateX(-100vw); opacity: 0}
}
@keyframes toRight {
    from {transform: translateX(0); opacity: 1}
    to {transform: translateX(100vw); opacity: 0}
}
@keyframes toBot {
    from {transform: translateY(0); opacity: 1}
    to {transform: translateY(100vh); opacity: 0}
}

//on demand
@keyframes blinker {  
    15% { opacity: 1 }
    20% { opacity: .9 }
    25% { opacity: 1 }
    60% { opacity: 1 }
    65% { opacity: .9 }
    65% { opacity: 1 }
}

@keyframes wiggleBox {
    20% { transform: translateX(-5px)} 
    40% { transform: translateX(5px)} 
    60% { transform: translateX(-5px)} 
    80% { transform: translateX(5px)} 
}