//basics
$black: #1D1D26;
$white: #f2f2f2;
$grey: #b3b3b3;

//hyperlinks
$green: #7CCF91;

//horizontal gradients
@mixin hGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}

//vertical gradients
@mixin vGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
    background: linear-gradient(to bottom, #F9D423, #FF4E50);
}

//shadows
$flat: 0 0 5px 0 rgba(#000, .16);
$light: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
$lightGreen: 0 0 10px 0 rgba($green,.9);
$dark: 0 0 2px 3px rgba(0,0,0,0.22), 0 0 10px 10px rgba(0,0,0,0.10);

//scrollbar style
.scrollbar::-webkit-scrollbar-track {
    background: darken($black, 4%);
}
.scrollbar::-webkit-scrollbar {
    width: 28px;
    background: darken($black, 4%);
}
.scrollbar::-webkit-scrollbar-thumb {
    border: 10px solid darken($black, 4%);
    background: $green;
}

//Placeholder style
.ph::-webkit-input-placeholder {
    color: rgba($green,.6);
}
.ph::-moz-placeholder {
    color: rgba($green,.6);
}
.ph:-ms-input-placeholder {
    color: rgba($green,.6);
}
.ph:-moz-placeholder {
    color: rgba($green,.6);
}