//class style

//ui elements
.box {
    background: #fff;
    box-shadow: $light;
    border-radius: 5px;
    padding: 40px;
}

.row {
    display: flex;
    justify-content: center;
}
.btn {
    transition: .2s;
    user-select: none;
    box-shadow: $light;
    padding: 10px 20px;
    background: $green;
    color: $white;
    border-radius: 5px;
    text-align: center;
    &:hover {
        background: $grey;
    }
}

.label {
    user-select: none;
    padding: 2px 10px;
    border-radius: 20px;
    background: $green;
    color: $white;
    text-align: center;
}

.link {
    color: $green;
    user-select: none;
}

.hdiv {
    width: 100%;
    height: 1px;
    background: $green;
    margin: 20px 0;
}

//inputs
.text {
    width: 100%;
    min-width: 280px;
    transition: .2s;
    user-select: none;
    padding: 15px 25px;
    background: transparent;
    border: 2px solid $green; 
}

//shadows
.flat { box-shadow: $flat }
.light { box-shadow: $light }
.dark { box-shadow: $dark }

//gradients
.hgrad { @include hGrad }
.vgrad { @include vGrad }

.cursor-p {cursor: url('../assets/img/cursor-pointer.png'), pointer}
.cursor-na {cursor: url('../assets/img/cursor-notallowed.png'), not-allowed}
.cursor-t {cursor: url('../assets/img/cursor-text.png'), text}