@import './assets';
@import './animations';
@import './framework';
@import './swiper';

//main style
* {
    //reset
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    user-select: none;
    
    //text color
    color: $green;
    
    // renders
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    // fonts
    font-family: 'pixel';
}

html {
    background: url('../assets/img/background.gif');
    background-size: cover;
}

html, body, main {
    width: 100vw;
    overflow: hidden;
    cursor: url('../assets/img/cursor-default.png'), auto;
}

//hyperlinks
a {
    color: $green;
    text-decoration: none;
}

//errors box
pre {
    min-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center; 
    margin: 40px 0;
}

input {
    user-select: auto;
}

//shining
.shine {
    box-shadow: $lightGreen
}

.text-shine {
    text-shadow: 0px 0px 8px  $green;
}
//views style
@import '../build/login/login';
@import '../build/guest/guest';
@import '../build/security/security';
@import '../build/vice/vice';
@import '../build/presi/presi';
