@font-face {
    font-family: 'pixel';
    src: url('./pixelmix-webfont.woff2') format('woff2'),
         url('./pixelmix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}